@import url(https://fonts.googleapis.com/css?family=Poppins);
@import url(https://fonts.googleapis.com/css?family=Montserrat);
@import url(https://fonts.googleapis.com/css?family=Roboto);

:root {
    --blue: #4285f4;
    --green: #34a853;
    --yellow: #fbbc05;
    --red: #ea4335;
}

* {
    box-sizing: border-box;
    /* font-family: 'Roboto', sans-serif; */
    /* font-family: 'Montserrat', sans-serif; */
}

body {
    min-height: 100vh;
    font-family: Arial;
    color: #3c4043;
    display: flex;
    flex-direction: column;
    margin: 0;
}

/* Navbar styling */
.navbar {
    font-size: 14px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin: 14px 32px;
}
.nav-between {
    justify-content: space-between;
    margin-left: 12px;
}
.navbar ul {
    margin: 0;
}
.navbar li {
    display: inline-block;
    padding: 8px;
}
.navbar a {
    text-decoration: none;
    color: black;
    height: auto;
    text-align: center;
    vertical-align: middle;
    padding: 8px;
}
.navbar a:hover {
    text-decoration: underline;
}

/* Main body styling */
main {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}
.flex-container {
    display: flex;
    align-items: center;
    justify-content: center;
}
.flex-start {
    align-items: flex-start;
}
.flex-end {
    align-items: flex-end;
}
.google-logo-container {
    /* font-family: 'Poppins', sans-serif; */
    flex: 0 0 290px;
    margin-bottom: 26px;
    width: 100%;
}
.google-images-logo-container {
    position: relative;
    margin-bottom: -4px;
}
.search-bar-container {
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
.google-images-logo {
    color: #4285f4;
    font: roboto-regular, arial, sans-serif;
    font-size: 16px;
    position: absolute;
    left: 215px;
    bottom: 4px;
    white-space: nowrap;
}
.title {
    color: var(--red);
    font-size: 20px;
    padding: 18px 45px 25px;
    border-bottom: 1px solid #ebebeb;
}
.advanced-search-container {
    display: flex;
    flex-direction: column;
    max-width: 1140px;
    min-width: 200px;
    width: 96%;
    margin: 46px 2% 0 45px;
}


/* Form styling */
.search-bar {
    display: flex;
    flex-direction: row;
    align-items: center;
    vertical-align: middle;
    height: 46px;
    border: 1px solid #dfe1e5;
    max-width: 584px;
    min-width: 584px;
    font-size: 16px;
    border-radius: 24px;
    margin-bottom: 18px;
    padding: 0px 18px 0px 18px;
}
.main-search-bar {
    padding: 0px 40px 0px 18px;   
}
.search-bar:hover, .search-bar:focus, .search-bar:focus-visible {
    box-shadow: 0 1px 6px rgba(32, 33, 36, 28%);
    border: 1px;
    border-color: rgba(223, 225, 229, 100%);
    outline: 0px;
}
.search-input {
    display: inline-block;
    font-size: 16px;
    margin-left: 13px;
    border: 0px;
    outline: 0px;
    width: 100%;
}
.search-icon {
    /* margin: 16px 0px; */
    color: #848485;
}
.clear-icon {
    color: #848485;
}
.image-search-icon {
    color: var(--blue);
}
.large-label {
    font-size: 16px;
    height: 30px;
    margin-bottom: 5px;
}
.input-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 13px;
    color: #222222;
    height: 30px;
    margin-bottom: 12px;
}
.advanced-search-button-row {
    display: flex;
    justify-content: flex-end;
    width: calc(16% + 572px);
}
.input-label {
    width: 16%;
}
.advanced-search-input {
    display: inline-block;
    height: 29px;
    width: 572px;
    padding: 1px 8px;
    border-radius: 1px;
    border: 1px solid #d9d9d9;
    border-top: 1px solid #c0c0c0;
}
.advanced-search-input:focus {
    box-shadow: inset 0 1px 2px rgb(0 0 0 / 30%);
    border: 1px solid #4d90fe;
    outline: none;
}

/* Footer styling */
footer {
    height: 64px;
}

/* Button styling */
.btn {
    margin: 11px 6px;
    padding: 6px 16px;
    display: inline-block;
    border: 1px solid transparent;
    border-radius: 4px;
    background-color: #f8f9fa;
    color: #3c4043;
    cursor: pointer;
    min-width: 54px;
    line-height: 22px;
    height: 36px;
    vertical-align: middle;
    text-align: center;
    font-family: Arial;
    font-size: 14px;
    outline: 0px;
}
.btn:hover {
    box-shadow: 0 1px 1px rgba(0, 0, 0, 10%);
    border: 1px solid #dadce0;
}
.btn:focus-visible {
    outline: 1px solid var(--blue);
}
.btn-icon {
    background-color: transparent;
    outline: 0px;
    border: 0px;
    cursor: pointer;
}
.clear-button {
    padding-right: 12px;
    border-right: 1px solid #dfe1e5;
    visibility: hidden;
}
.image-search-button {
    margin: 0px 4px 0px 12px;
    padding: 0;
}
.advanced-search-button {
    background-color: #4d90fe;
    color: white;
    font-size: 11px;
    height: 30px;
    width: 120px;
    padding: 0px 12px;
    margin-left: 0px;
    margin-right: 0px;
    border: 1px solid #3079ed
}

/* Text styling */
.text-blue {
    color: var(--blue);
}
.text-red {
    color: var(--red);
}
.text-yellow {
    color: var(--yellow);
}
.text-green {
    color: var(--green);
}